<footer class="footer footnote">
  <p>
    이 사이트의 A-Frame 프로젝트 및 컨텐츠는 <a href="https://github.com/aframevr/aframe/blob/master/LICENSE" rel="external">MIT License</a> 입니다.
  </p>
  <p>오타를 발견했거나 제안하고 싶은 내용이 있으신가요? <br><br> <a href="<%- website_github_edit_url(item.path) %>" class="github-file-link" target="_blank" rel="external">GitHub에 제안하러 가기</a></p>
  <p><a href="https://supermedium.com">Supermedium</a>에 의해 관리되는 프로젝트.</p>
</footer>
